{{#with assets}}
<span class="asset-show-dependency">
    <a class="top-common-btn-grp btn btn-default btn-lg pull-right" href='{{url ""}}/pages/wsdl-viewer?id={{id}}' target="_blank">
        {{t "Graphical View"}}</a>
</span>
{{/with}}
