{{#with assets}}
    <a class="top-common-btn-grp btn btn-default btn-lg pull-right input-group-addon"
       href='{{url ""}}/pages/wsdl-viewer?id={{id}}' target="_blank">
        <i class="fw fw-view"></i>
        {{t "Visualize"}}
    </a>
{{/with}}
