<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GregTestSuite">
    <parameter name="useDefaultListeners" value="false"/>
    <test name="Test - GREG" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.metadata.test.service"/>
            <package name="org.wso2.carbon.registry.metadata.test.api"/>
            <package name="org.wso2.carbon.registry.metadata.test.custom"/>
            <package name="org.wso2.carbon.registry.metadata.test.policy"/>
            <package name="org.wso2.carbon.registry.metadata.test.schema"/>
            <package name="org.wso2.carbon.registry.metadata.test.uri"/>
            <package name="org.wso2.carbon.registry.metadata.test.wsdl"/>
        </packages>

        <classes>
        </classes>
    </test>
</suite>
