<!-- footer -->
<footer class="footer">
    <p>Powered by WSO2 Governance Registry {{header.[0].context.meta.applicationVersion}} | &copy; <script>document.write(new Date().getFullYear());</script> <a href="http://wso2.com/" target="_blank"><i class="fw fw-wso2"></i> Inc.</a></p>
</footer>
<!-- /footer -->
