<div class="asset-actions pull-right">
    <span class="asset-show-dependency">
        <a class="btn btn-default btn-lg active pull-right" href='{{url ""}}/pages/impact?path={{path}}' target="_blank">
            Show Dependency
        </a>
    </span>
</div>
