<a class="btn btn-default input-group-addon"
   href='{{tenantedUrl ""}}/pages/impact?path={{encodeURIComponent assets.path}}' target="_blank"><i
        class="fw fw-depend"></i>
    {{t "Show Dependencies"}}
</a>
