<div class="wr-panel-desc-icon">
    <i class="wr-panel-desc-icon fw fw-user"></i>
</div>
<div class="wr-panel-msg">
    <div>{{attributes.overview_note}}</div>
    <div class="wr-panel-msg-details"><span class="wr-list-username">{{attributes.overview_user}}</span></div>
</div>
