<div class="wr-notification-desc new">
    <div class="wr-notification-operation">Device Lock Operation Successful!</div>
    <div class="wr-notification-time"><i class="fw fw-clock"></i> 14 seconds ago</div>
    <a href="#" class="wr-operation-icon">
        <span class="fw-stack fw-lg">
            <i class="fw fw-ring fw-stack-2x"></i>
            <i class="fw fw-delete fw-stack-1x"></i>
        </span>
    </a>
</div>
<hr />

<div class="wr-notification-desc new">
    <div class="wr-notification-operation">Device Lock Operation Successful!</div>
    <div class="wr-notification-time"><i class="fw fw-clock"></i> 14 seconds ago</div>
    <a href="#" class="wr-operation-icon">
        <span class="fw-stack fw-lg">
            <i class="fw fw-ring fw-stack-2x"></i>
            <i class="fw fw-delete fw-stack-1x"></i>
        </span>
    </a>
</div>
<hr />

<div class="wr-notification-desc">
    <div class="wr-notification-operation">Device Lock Operation Successful!</div>
    <div class="wr-notification-time"><i class="fw fw-clock"></i> 14 seconds ago</div>
    <a href="#" class="wr-operation-icon">
        <span class="fw-stack fw-lg">
            <i class="fw fw-ring fw-stack-2x"></i>
            <i class="fw fw-delete fw-stack-1x"></i>
        </span>
    </a>
</div>
<hr />