<a href="#" class="form-control-feedback advance" data-toggle="popover" data-placement="bottom"
   data-content="
                    <h3>Search Options</h3>
                     <ul>
                     <li>By Asset Name [Default] or [ <b>name:</b>&amp;lt;your-value&amp;gt; ]</li>
                     <li>By Asset Content [ <b>content:</b>&amp;lt;your-value&amp;gt; ]</li>
                     <li>By Asset Tag [ <b>tags:</b>&amp;lt;your-value&amp;gt; ]</li>
                     <li>By Asset Version [ <b>version:</b>&amp;lt;your-value&amp;gt; ]</li>
                     <li>By Media Type [ <b>mediaType:</b>&amp;lt;your-value&amp;gt; ]</li>
                     <li>By Lifecycle Name [ <b>lcName:</b>&amp;lt;your-value&amp;gt; ]</li>
                     <li>By Lifecycle State [ <b>lcState:</b>&amp;lt;your-value&amp;gt; ]</li>
                     </ul>" data-html="true" id="search-info">
    <i class="fw fw-info"></i>
</a>