<h2 class="field-title">
    <a class="collapsing-h2  collapsed " aria-expanded="true" href="#taxonomy" data-toggle="collapse">
        <i class="cu-btn-exp-col btn-collapsed">Taxonomy</i>
    </a>
</h2>

<div id="taxonomy" class="responsive-form-container collapse" aria-expanded="false" style="height: 0px;">
    <div class="selected-taxonomy-container view-only">
        <div>
            <label>Applied Taxonomies: </label>
        </div>
        <div class="selected-taxonomy-content">
            <!-- Dynamic content -->
        </div>
    </div>
</div>