{{#with assets}}
{{#if tags}}
    <a data-toggle="collapse" href="#collapseTags" class="collapsing-h2"><h2>{{t "Tags"}}</h2></a>
    <div class="collapse" id="collapseTags">
    {{#each tags}}
        <span class="view-tag">{{this}}</span>
    {{/each}}
    </div>
{{/if}}
{{/with}}