{{#with assets}}
<div class='content-div'>
    <div class="tab-content asset-tab-content">
        <div id="view" class="asset-view-container">
            <div class="row-fluid asset-detail-top-row">
                <div class="span2">
                    <div class="thumbnail-div">
                        {{> default-thumbnail ..}}
                    </div>
                </div>
                <div class="span10 asset-details-box">
                    <h4>{{name}}</h4>
                </div>
                {{#if lifecycle}}
                <div class="span10 asset-details-box">
                    <h5>{{lifecycle}} : {{lifecycleState}}</h5>
                </div>
                {{/if}}
            </div>
            <div>
                {{> asset-version-info ..}}
            </div>
        </div>
    </div>
</div>
{{/with}}