<span class="asset-show-dependency">
    <a class="top-common-btn-grp btn btn-default btn-lg pull-right" href='{{url ""}}/pages/impact?path={{encodeURIComponent assets.path}}' target="_blank">
        {{t "Show Dependency"}}</a>
</span>
