<div>
{{> view-asset-actions-container .}}
</div>

{{> view-asset-top-common-container .}}
{{> view-asset-top-common-addons-container .}}
{{> view-asset-details-container .}}
{{> view-asset-tags-container .}}
{{#if taxonomyAvailability}}
{{> taxonomy-overview .}}
{{/if}}