<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="meta-data-test-suite">
    <parameter name="useDefaultListeners" value="false"/>

    <test name="es" preserve-order="true" parallel="false">
        <!--<packages>-->
            <!--<package name="org.wso2.carbon.registry.metadata.test.custom.*"/>-->
            <!--<package name="org.wso2.carbon.registry.metadata.test.policy.*"/>-->
            <!--<package name="org.wso2.carbon.registry.metadata.test.schema.*"/>-->
            <!--<package name="org.wso2.carbon.registry.metadata.test.uri.*"/>-->
            <!--<package name="org.wso2.carbon.registry.metadata.test.util.*"/>-->
            <!--<package name="org.wso2.carbon.registry.metadata.test.wadl.*"/>-->
            <!--<package name="org.wso2.carbon.registry.metadata.test.wsdl.*"/>-->
            <!--&lt;!&ndash;package name="org.wso2.carbon.registry.metadata.test.swagger.*"/&ndash;&gt;-->
            <!--<package name="org.wso2.carbon.registry.metadata.test.server.*"/>-->
        <!--</packages>-->
        <classes>
            <!--<class name="org.wso2.carbon.registry.es.publisher.GregRestResourcePublisherESTestCase"/>-->
            <class name="org.wso2.carbon.registry.es.publisher.GregRestResourceLifeCycleManagementTestCase"/>
        </classes>
    </test>
</suite>
