<div id='schema-viewer'>
    <legend><h4>Schema</h4></legend>
    {{#if schemaContent}}
        <textarea id="schemacontent" name="schemacontent">{{../schemaContent}}</textarea>
    {{else}}
        <p>No Schema Content To Display</p>
    {{/if}}
</div>