<div class="table-responsive">
    <div class="col-lg-12">
        <div id='schema-viewer'>
            <div class="col-lg-2">
                <b>
                    {{t "Raw Content :"}}
                </b>
            </div>
            {{#if schemaContent}}
                <textarea id="schemacontent" name="schemacontent" style="width:100%" >{{../schemaContent}}</textarea>
            {{else}}
                <p>{{t "No Schema Content To Display"}}</p>
            {{/if}}
        </div>
    </div>
</div>