body {
	background-color: #002D56;
}
table#main-table {
	background-color: #002D56;
}

/* ---------------- template styles ------------------------- */

table#main-table td#header {
	background-image: none;
	height: 120px;
	background-color: #002D56;
}

table#main-table td#menu-panel {
	background-color: #002D56;
	border-right:0 solid #636466;
	font-size:100%;
	padding-bottom:20px;
	padding-left:20px;
	padding-top:0px;
	width:5%;
}
td#menu-panel table#menu-table {
	width: 225px;
	border: solid 0px #976731;
	background-color: #fff;
}
	

/* ---------------- header styles ------------------ */
div#header-div {
    background-image: url( header-bg.gif);
    height: 120px;
    
}

div#header-div div.left-logo {
	background-image: none;
	margin-top: 27px;
	margin-left: 40px;
	background-image: url(logo.gif);
	background-repeat: no-repeat;
	height: 50px;
}

div#header-div div.right-logo {
	color: #fff;
	margin-top: 37px;
	display: none;
} 
div#header-div div.header-links {
	clear: both;
	float: left;
	height: 35px;
	width: 100%;
	margin-top: 5px;
}
div#header-div div.header-links div.right-links {
	/*background-color:#FFFFFF;
	border:1px solid #D0B793;*/
	clear:both;
	float:right;
	height:18px;
	margin-right:15px;
	padding:5px 0px 3px;
	width: auto;
	color: #ccc;
}
div.right-links label#logged-user {
	color: #ABBBD1;
}
div.right-links a {
	color: #fff;
}
div.right-links a:hover {
	color: #ABBBD1;
}
div.header-links ul {
	list-style: none;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding: 0px;
	float: right;
	border:0px solid #D0B793;
	padding: 5px;
}

/* ------------- menu styles ---------------------- */
div#menu {
}

div#menu ul.main {
}

div#menu ul.main li {
}

div#menu ul.main li.normal {
}

div#menu ul.main li a.menu-home {
    background-image: none;
    color: #ffffff;
    background-color: #599E48;
    background-image: url(home-bg.gif);
    background-position: right top;
    background-repeat: no-repeat;
}

div#menu ul.main li a.menu-home:hover {
	background-image:url(menu-header.gif);
    background-position: right top;
    background-repeat: no-repeat;
	color: #fff;
	background-color: #82B373;
}

div#menu ul.main li.menu-header {
	background-image:url(menu-header.gif);
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #82B373;
    color: #fff;
    border-top: 7px solid #002D56;
    border-bottom: 1px solid #002D56;
}
div#menu ul.main li.menu-disabled-link {
	background-image: url( ../images/default-menu-icon.gif );
    background-repeat: no-repeat;
    background-position: 16px 2px;
	background-color: #E5EEE1;
	color: #111111;
    height: 16px;
    display: block;
    /*width:187px;*/
    padding-left: 38px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    font-weight:normal;
    cursor:text;
}
div#menu ul.main li a.menu-default {
	border-bottom: solid 1px #738FAF;
}

div#menu ul.main li a.menu-default:hover {
	background-color: #F5EDE5;
	border-bottom: solid 1px #DBC1A6;
	border-top: solid 1px #DBC1A6;
	color: #00447C;
}

div#menu ul.sub {
} 

/* -------------- child no-01 styles -------------- */

div#menu ul.sub li.normal {

}

div#menu ul.sub li a.menu-default {
	border-bottom: solid 1px #738FAF;
} 
div#menu ul.sub li a.menu-default:hover {
	border-bottom: solid 1px #439539;
	border-top: solid 1px #439539;
	background-color: #C9DCC1;
}


/* ----------- child no-01 (disabled) styles ------------------- */
	
div#menu ul.sub li a.menu-disabled-link {
	}
	
	div#menu ul.sub li a.menu-disabled-link:hover {
	} 

/* -------------- child no-02 styles -------------- */

div#menu ul.sub li.normal ul.sub li a.menu-default {
	border-bottom: solid 1px #738FAF;

}

/* -------------- child no-03 styles -------------- */

div#menu ul.sub li.normal ul.sub li.normal ul.sub li a.menu-default {
	border-bottom: solid 1px #738FAF;
}

/* ------------- footer styles -------------------- */

div#footer-div div.footer-content div.poweredby {
	background-image: url( axis2-powered.gif);
}

/* ---- login styles ----- */


/* --------------- table styles -------------------- */

.tableOddRow{background-color: white;}
.tableEvenRow{background-color: #eeeffb;}

.button:hover{
	border:solid 1px #834F09;
}

table#main-table td#middle-content {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	padding-bottom: 20px;
	background-color: transparent;
	width: 95%;
	
}
table#main-table td#middle-content table#content-table {
	background-color: #fff;
}
table#content-table td#page-header-links {
	height: 10px;
	vertical-align: middle;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 10px;
}
div#middle {
    background-color: #fff;
    width: 100%;
    padding-bottom: 20px;
    /*border-bottom: solid 1px #794400;*/
    background-image: none;
}
div#middle div#workArea {
    background-color: transparent;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
}
div#middle h2 {
    color: #002D56;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 150%;
    font-weight: normal;
    padding-bottom: 7px;
    padding-left: 20px;
   	border-bottom: solid 1px #002D56;
    background-color: #fff;
    padding-top: 0px;
}
div#workArea table.styledLeft {
    border-collapse: collapse;
    margin-left: 0px;
    width: 100%;
    background-color: #fff;
}

div#workArea table.styledLeft thead th {
    background-image:url(table-header.gif);
    background-position: left bottom;
    background-repeat:repeat-x;
    border:1px solid #002D56;
    font-weight:normal;
    height:25px;
    line-height:20px;
    margin-bottom:5px;
    padding-left:8px;
    color: #fff;
}

div#workArea table.styledLeft tbody tr td.middle-header {
    background-image:url(table-header.gif);
    background-position: left bottom;
    background-repeat:repeat-x;
    border:1px solid #cccccc;
    font-weight:normal;
    height:22px;
    line-height:20px;
    margin-bottom:5px;
    padding-left:8px;
}

div#workArea table.styledLeft tbody tr td.sub-header {
	background-image:url(table-header.gif);
    background-position: left bottom;
    background-repeat:repeat-x;
    border:1px solid #002D566;
    border-bottom: 0px solid #666;
    border-top: 1px solid #666;
    font-weight:normal;
    height:22px;
    line-height:20px;
    margin-bottom:5px;
    padding-left:8px;
}

div#workArea table.styledLeft tbody tr td {
    border: solid 1px #002D56;
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    vertical-align: middle !important;
}

div#workArea table.styledLeft tbody tr td.nopadding {
    border: solid 1px #002D56;
    height: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    vertical-align: middle !important;
}
div#workArea table.styledLeft tbody tr td.formRow {
     padding-top: 10px;
     padding-bottom: 10px;
     border-right: solid 1px #002D56;
 }
div#workArea table.styledLeft tbody tr td.buttonRow {
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: none;
    background-color: #C0CADC;
}
div#workArea table.normal {
	border-collapse: separate;
	padding: 3px;
}
div#workArea table.normal tbody tr td {
	border: 0px;
}
.button{
	background-image:url(button-bg.gif);
	background-repeat:repeat-x;
	background-position:0 0;
	padding-left: 7px;
	padding-right: 7px;
	padding-top:0px;
	padding-bottom:0px;
	border:solid 1px #fff;
	border-right: solid 1px #002D56;
	border-bottom: solid 1px #002D56;
	color: #fff;
}
.button:focus{
	background-image:url(button-bg-focus.gif);
}
.button:hover{
	background-image:url(button-bg-hover.gif);
	border:solid 1px #fff;
	color: #002D56;
}