body {
    background: #efefef url(../images/grid-bg.png) repeat center top;
    padding-top: 0; /* 60px to make the container go all the way to the bottom of the topbar */

}
a{
    cursor:pointer;
}
h3{
    color:#666;
    padding:5px 0 10px;
}
h6{
    color:#444;
    text-decoration:underline;
}
div.navbar-inner {
   height:45px;
    min-width:450px;
}
.nav-collapse .nav, div.navbar-inner {
  /*background: transparent url(../images/whiteBack.png) repeat center top;*/
    background: -moz-linear-gradient(top, rgba(35, 78, 133, 1) 0%, rgba(0, 136, 182, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(35, 78, 133, 1)), color-stop(100%, rgba(0, 136, 182, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(35, 78, 133, 1) 0%, rgba(0, 136, 182, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(35, 78, 133, 1) 0%, rgba(0, 136, 182, 1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(35, 78, 133, 1) 0%, rgba(0, 136, 182, 1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(35, 78, 133, 1) 0%, rgba(0, 136, 182, 1) 100%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#234e85',EndColorStr='#0088b6'); /* IE8 */
    -ms-filter: progid: DXImageTransform.Microsoft.gradient(gradientType = 0, startColor = '#234e85', endColoStr = '#0088b6'); /*Transparent back */

}
.navbar .nav > li > a{
    color:#fff;
    height:27px;
}
.navbar .nav > li{
    height:45px;
}
.navbar .nav > li:hover{
  /*background: transparent url(../images/whiteBack.png) repeat center top;*/
    background: -moz-linear-gradient(top, rgba(57,57,57, 1) 0%, rgba(113,113,113, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(57,57,57, 1)), color-stop(100%, rgba(113,113,113, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(57,57,57, 1) 0%, rgba(113,113,113, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(57,57,57, 1) 0%, rgba(113,113,113, 1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(57,57,57, 1) 0%, rgba(113,113,113, 1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(57,57,57, 1) 0%, rgba(113,113,113, 1) 100%); /* W3C */
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#393939',EndColorStr='#717171'); /* IE8 */
    -ms-filter: progid: DXImageTransform.Microsoft.gradient(gradientType = 0, startColor = '#393939', endColoStr = '#717171'); /*Transparent back */

}
.page-header-back {
    background-color:#fefefe;
    /*box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);*/
    min-height: 500px;
    border:solid 2px #e6e7e8;
    margin:-15px 5% 0 5%;
    padding-left:0;
    padding-right:0;
}
.menu-content{
    margin: 0 5% 0;
}

.navbar .navbar-inner .nav.actions a {
    color: #fff;
    padding: 7px 16px 6px;
    cursor:pointer;
}

.navbar-header .nav > li > a {
    color: #fff;
}

.navbar .nav > li > a:hover {
    color: #efefef;
}
.page-content {
    /*background: transparent url(../images/whiteBack-more.png) repeat-x center top;*/
}

.list-header {
    height: 20px;
    background-color: #27333A;
    background-image: -moz-linear-gradient(top, #f7f7f7, #f3f3f3);
    background-image: -ms-linear-gradient(top, #f7f7f7, #f3f3f3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#f3f3f3));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #f3f3f3);
    background-image: -o-linear-gradient(top, #f7f7f7, #f3f3f3);
    background-image: linear-gradient(top, #f7f7f7, #f3f3f3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f7f7f7', endColorstr = '#f3f3f3', GradientType = 0);
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    margin: -1px -1px 0 -1px;
    border: 1px solid #cccccc;
    color: #555555;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
}

.list-main {
    background-color: transparent;
    /*border: 1px solid #ccc;*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 0 0 10px 0;
}

.list-main li {
    padding: 10px;
    list-style-type: none;
    /*border-bottom: 1px solid #cccccc;*/
}

.list-item-content a.title {
    color: #1c75bc;
    line-height: 20px;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
    margin-bottom: 1px;
    cursor: pointer;
}

.item-provider {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #555;
    margin-bottom:5px;
    cursor:default;
}
.row-fluid div.tabs-section{
    margin:10px 10px 30px 0;
}
.tabs-section div.tab-pane{
    background-color:#cfcfcf;
    color:#000;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    padding:10px;
    border-left:solid 1px #ddd;
    border-right:solid 1px #ddd;
    border-bottom:solid 1px #ddd;
}
.nav-tabs > li > a {
    background-color:#708292;
    color:#fff;
}
.nav-tabs > li > a:hover {
    color:#000;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover{
    background-color:#CFCFCF;
    color:#000;
}
.tabs-section ul.nav-tabs{
    margin-bottom:0;
}
.info-view-content{
    padding-left:5px;
}
.header-section {
    color: #000;
    padding-top:10px;
}
.header-section div.row{
    padding-bottom:20px;
    margin-left:0;
}
.searchAPIs-title{
    color:#317a91;
    font-size:25px;
    padding:5px 0 10px 0;
    font-weight:bold;
}
.section-shifter-left ul.nav,#tag-cloud ul.nav{
    margin-bottom:0;
}
.section-shifter-left, .section-shifter-right {
}
.section-shifter-left div.tab-content{
    overflow:hidden;
    background:#f6f6f6;
    border-right:solid 1px #bcbec0;
    border-bottom:solid 1px #bcbec0;
    min-height:500px;

}
#tag-cloud{
    margin-top:-33px;
}
#tag-cloud div.tag-content{
    background:#f6f6f6;
    border-left:solid 1px #bcbec0;
    border-bottom:solid 1px #bcbec0;
    border-top:solid 1px #bcbec0;
    min-height:500px;
}


.section-shifter-left {
    margin-left: 10px;
}

.section-shifter-right {
    margin-right: 10px;
}

.thumbnail-custom {
    margin-top: 20px;
}
.thumbnail-custom div.thumbnail{
    text-align:center;
}
.thumbnail-custom button.btn{
    padding:3px;
 }
.thumbnail-custom a.link-to-api{
    display:block;
    color: #25b6ff;
    margin:5px 0;
    cursor:pointer;
    font-size:12px;
    font-weight:bold;
}
.thumbnail-custom a.link-to-provider{
    color: #939292;
    display:block;
    margin:5px 0;
    cursor:pointer;
    font-size:11px;
}
.thumbnail-custom div.title{
    color:#66ccff;
    font-size:14px;
    padding:10px 10px
}
.thumbnail-custom div.thumbnail:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.thumbnail-custom div.navbar{
    display:none;
}
.thumbnail-custom div.thumbnail{
    width:150px;
    height: 162px;
}
.clouds a {
    color: #777;
    display:inline-block;
    padding:5px;
}

.clouds a:hover {
    color: #fff;
    background-color: #6e9215;
}

.ts1 {
    font-size: 35%;
    text-decoration: none;
}

.ts2 {
    font-size: 40%;
    text-decoration: none;
}

.ts3 {
    font-size: 50%;
    text-decoration: none;
}

.ts4 {
    font-size: 60%;
    text-decoration: none;
}

.ts5 {
    font-size: 65%;
    text-decoration: none;
}

.ts6 {
    font-size: 70%;
    text-decoration: none;
}

.ts7 {
    font-size: 75%;
    text-decoration: none;
}

.ts8 {
    font-size: 80%;
    text-decoration: none;
}

.ts9 {
    font-size: 90%;
    text-decoration: none;
}

.ts10 {
    font-size: 100%;
    text-decoration: none;
}

.tslg1 {
    font-size: 45%;
    text-decoration: none;
}

.tslg2 {
    font-size: 60%;
    text-decoration: none;
}

.tslg3 {
    font-size: 70%;
    text-decoration: none;
}

.tslg4 {
    font-size: 80%;
    text-decoration: none;
}

.tslg5 {
    font-size: 90%;
    text-decoration: none;
}

.tslg6 {
    font-size: 100%;
    text-decoration: none;
}

.tslg7 {
    font-size: 105%;
    text-decoration: none;
}

.tslg8 {
    font-size: 120%;
    text-decoration: none;
}

.tslg9 {
    font-size: 130%;
    text-decoration: none;
}

.tslg10 {
    font-size: 150%;
    text-decoration: none;
}

.tsxl1 {
    font-size: 85%;
    text-decoration: none;
}

.tsxl2 {
    font-size: 95%;
    text-decoration: none;
}

.tsxl3 {
    font-size: 105%;
    text-decoration: none;
}

.tsxl4 {
    font-size: 120%;
    text-decoration: none;
}

.tsxl5 {
    font-size: 130%;
    text-decoration: none;
}

.tsxl6 {
    font-size: 140%;
    text-decoration: none;
}

.tsxl7 {
    font-size: 150%;
    text-decoration: none;
}

.tsxl8 {
    font-size: 160%;
    text-decoration: none;
}

.tsxl9 {
    font-size: 180%;
    text-decoration: none;
}

.tsxl10 {
    font-size: 200%;
    text-decoration: none;
}

#cloud {
    font-size: 120%;
    line-height: 1.2em;
}

a.powered-by-logo {
    background: transparent url(../images/poweredByLogo.png) no-repeat 0 0;
    display: block;
    width: 247px;
    height: 23px;
    cursor: pointer;
}
footer{
    background:#ccc;
    padding:10px;
    margin-top:10px;
}
.login-sign-up{
    /*width:190px;*/
}
.api-info-table div.form-horizontal .control-label{
    width:20px;
    padding-top:0;
}
.api-info-table div.form-horizontal div.controls{
    margin-left:80px;
}
.api-info-table div.form-horizontal .control-group{
    margin-bottom:5px;
}
.api-info div.corner-maker-left{
    display:none;
}
.cat_and_charts li.list-header, .more-from-provider li.list-header{
    background:none;
    color:#919520;
    border-left:none;
    border-right:none;
    border-top:none;
}
.cat_and_charts a.title, .more-from-provider a.title{
     display: block;
    max-width: 147px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left:0;
}
.main-heading{
    display:none;
}
.well{
    background-color:#efefef;
}
.search-fix-size{
    width:280px;
}
.clear{
    clear:both;
}
.corner-maker-left{
    background: transparent url(../images/corner-maker-left.png) repeat center top;
    position:absolute;
    width:15px;
    height:19px;
    margin-top:-9px;
    margin-left:-3px;
}
.corner-maker-right{
    background: transparent url(../images/corner-maker-right.png) repeat center top;
    position:absolute;
    width:15px;
    height:19px;
    margin-left: 39px;
    margin-top: -10px;
}
#tag-cloud  ul.nav-tabs{
    margin-right:-2px;
}
#tag-cloud li.list-header{
    display:none;
}
.search-button{
    padding-left:40px;
    padding-right:40px;
}
.search-back{
     background-image: -moz-linear-gradient(top, #ffffff, #e7eff5);
    background-image: -ms-linear-gradient(top, #ffffff, #e7eff5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e7eff5));
    background-image: -webkit-linear-gradient(top, #ffffff, #e7eff5);
    background-image: -o-linear-gradient(top, #ffffff, #e7eff5);
    background-image: linear-gradient(top, #ffffff, #e7eff5);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e7eff5', GradientType = 0);
    padding:0 0 0 20px;
    /*background: transparent url(../images/searchBack.png) no-repeat center top;*/
}
.navbar .brand{
    padding:10px 0 0 0;
    margin:0;
    position:absolute;
}
.padding-from-right{
    padding:10px;
}
.thumbnails > li{
    margin-left:10px;
}

.application-api {
    padding: 9px 15px;
}
.application-api img{
    width:60px;
    margin-top:5px;
    margin-bottom:5px;
}
.application-api td{
    padding:0 20px;
}
.subscription-list table td{
    vertical-align:middle;
}
.application-thumb{
    width:100px;
}
.application-provider{
    width:100px;
}
.application-add{
    padding:5px;
}
tr.application-api td.api-key-cell{
    padding:0;
    border-left:solid  1px #ccc;
    width:320px;
}
.comment-text{
    padding:5px;
    color:#444;
}
.settingsSection img{
    cursor:pointer;
}

.settingsSection table {
    margin-bottom:0;
}
.settingsSection form {
    padding: 0;
    margin:0;
}