<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="lifecycle-test-suite">
    <parameter name="useDefaultListeners" value="false"/>
    <test name="lifecycle-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.lifecycle.test.*"/>
        </packages>
    </test>
</suite>
