<div id='policy-viewer'>
    <legend><h4>Policy</h4></legend>
    {{#if policyContent}}
        <textarea id="policycontent" name="policycontent">{{../policyContent}}</textarea>
    {{else}}
        <p>No Policy Content To Display</p>
    {{/if}}
</div>