<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="meta-data-test-suite">
    <parameter name="useDefaultListeners" value="false"/>
    <test name="metadata" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.metadata.test.custom.*"/>
            <package name="org.wso2.carbon.registry.metadata.test.uri.*"/>
            <package name="org.wso2.carbon.registry.metadata.test.util.*"/>
            <package name="org.wso2.carbon.registry.metadata.test.server.*"/>
            <package name="org.wso2.carbon.registry.metadata.test.restservice.*"/>
        </packages>

        <classes>
            <!--<class name="org.wso2.carbon.registry.metadata.test.api.CRUDPermissionTest"/>-->
            <!--<class name="org.wso2.carbon.registry.metadata.test.schema.SchemaRetentionVerificationTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.metadata.test.policy.PolicyRetentionVerificationTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.metadata.test.policy.PolicyMetaDataTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.metadata.test.wsdl.EncodedUrlWsdlAdditionTestCase"/>-->
        </classes>
    </test>
</suite>
