<div id='wsdl-viewer'>
    <legend><h4>WADL</h4></legend>
    {{#if wadlContent}}
        <textarea id="wadlcontent" name="wadlcontent">{{../wadlContent}}</textarea>
    {{else}}
        <p>No WADL Content To Display</p>
    {{/if}}
</div>