<div class="ast-img setbgcolor" style="background: {{this.uniqueColor}}">
    <span class="ast-type-icon">
      <i class="fw fw-rest-service fw-lg"></i>
      </span>
    <div class="ast-name-icon">{{this.nameToChar}}</div>
</div>