{{#with assets}}
    <a class="top-common-btn-grp btn btn-default btn-lg pull-right input-group-addon"
       href='{{url ""}}/pages/swagger?path={{path}}' target="_blank">
        <i class="fw fw-depend"></i>
        {{t "Visualize"}}
    </a>
{{/with}}
