{{#with assets}}
<span class="asset-show-dependency">
    <a class="btn btn-default btn-lg active pull-right" href='{{url ""}}/pages/swagger?path={{path}}' target="_blank">
        Show Swagger UI</a>
</span>
{{/with}}
