<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GregTestSuite">
    <parameter name="useDefaultListeners" value="false"/>
    <test name="Test - GREG" preserve-order="true" parallel="false">
        <packages>
        </packages>


        <classes>

            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon9190"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon10714"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon2163"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon6012"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon6014"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon6025"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon8421"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon8636"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon8868"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon8971"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon9096"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon9147"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon9160"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon10907"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon11120"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon11408"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon11572"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon11689"/>
         <!--   <class name="org.wso2.carbon.registry.jira.issues.test.Carbon11839"/>-->
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon8980"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon12131"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon12213"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon12699"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon12924"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Carbon13084"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.FileSystemImportationSecurityHotFixTestCase"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.JMXServiceOperationsTestCase"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.LoginTestCase"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Registry579"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Registry595"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Registry931"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Registry954"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Registry1166"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.Registry1245"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.RemoteRegistryTestCase"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.SaveSearchTestCase"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.SearchServiceOfStatusChange"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.SymlinkTestCase"/>
            <class name="org.wso2.carbon.registry.jira.issues.test.WSRegistryExecuteQueryTestCase"/>
        </classes>
    </test>
</suite>
