<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="greg-smoke-test-suite">
    <parameter name="useDefaultListeners" value="false"/>
    <test name="test-greg-smoke-pagination" preserve-order="true" parallel="false">
        <packages>
           <package name="org.wso2.carbon.registry.pagination.test"/>
        </packages>
    </test>
    <test name="test-greg-smoke-properties" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.properties.test.old"/>
        </packages>
    </test>
    <test name="test-greg-smoke-metadata" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.search.metadata.test.bean"/>
        </packages>
    </test>
    <test name="test-greg-smoke-extensions" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.extensions.test"/>
        </packages>
    </test>
    <test name="test-greg-smoke-app" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.app.test"/>
        </packages>
    </test>
    <test name="test-greg-smoke-2" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.handler.test.old"/>
        </packages>
    </test>
    <test name="test-greg-smoke-3" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.scm.test"/>
            <package name="org.wso2.carbon.registry.smoke.test.old"/>
            <package name="org.wso2.carbon.registry.subscription.test"/>
            <package name="org.wso2.carbon.registry.uddi.test"/>
            <package name="org.wso2.carbon.registry.ws.client.test.general.old"/>
        </packages>
    </test>
    
    
    <!--<test name="test-greg-smoke" preserve-order="true" parallel="false">-->
        <!--<classes>-->
            <!--<class name="org.wso2.carbon.registry.ws.client.test.general.old.GarFileImportServiceWSTestCase"/>-->
            <!--&lt;!&ndash;<class name="org.wso2.carbon.registry.scm.test.SvnTestCase"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<class name="org.wso2.carbon.registry.properties.test.old.PropertiesAdminServiceTestCase"/>&ndash;&gt;-->
        <!--</classes>-->

    <!--</test>-->
</suite>
