<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GregTestSuite">
    <test name="UTF-Support" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.utfsupport.test"/>
        </packages>
    </test>
    <test name="XPATH-Query" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.xpath.query.test"/>
        </packages>
    </test>

    <test name="Discovery-Test" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.discovery.test"/>
        </packages>
    </test>

    <test name="Report-Test" preserve-order="true" parallel="false">

        <classes>
            <class name="org.wso2.carbon.registry.reporting.test.ReportNameAndTemplateTestCases"/>
            <class name="org.wso2.carbon.registry.reporting.test.ReportGenerationTestCases"/>
            <class name="org.wso2.carbon.registry.reporting.test.Carbon11686"/>
            <class name="org.wso2.carbon.registry.reporting.test.ReportCopyingTestCases"/>
            <class name="org.wso2.carbon.registry.reporting.test.ReportSchedulingTestCases"/>
            <class name="org.wso2.carbon.registry.reporting.test.ReportClassTestCases"/>
        </classes>
    </test>
    <test name="CAPP-Deployment" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.capp.deployment.test"/>
        </packages>
    </test>

    <test name="Search Tags" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.carbon.registry.search.tags.test.TagsSearchTestCase"/>
        </classes>
    </test>

</suite>
