<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="permission-test-suite">
    <parameter name="useDefaultListeners" value="false"/>

    <test name="permission-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.permission.test.*"/>
        </packages>
    </test>
    <test name="permission-tests2" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.permission.test2.*"/>
        </packages>
    </test>
</suite>
