<div id='swagger-viewer'>
    <legend><h4>Swagger</h4></legend>
    {{#if content}}
        <textarea id="swaggercontent" name="swaggercontent">{{../content}}</textarea>
    {{else}}
        <p>No Swagger Content To Display</p>
    {{/if}}
</div>