<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GregTestSuite">
    <parameter name="useDefaultListeners" value="false"/>

      <test name="Test1" preserve-order="true" parallel="false">
          <packages>
              <package name="org.wso2.carbon.registry.sample.test"/>
          </packages>
      </test>

</suite>
