<div id='wsdl-viewer'>
        <legend><h4>WSDL</h4></legend>
        {{#if wsdlContent}}
            <textarea id="wsdlcontent" name="wsdlcontent">{{../wsdlContent}}</textarea>
        {{else}}
            <p>No WSDL Content To Display</p>
        {{/if}}
</div>