<div class="ast-img setbgcolor" style="background: {{this.uniqueColor}}" data-toggle="tooltip" title="{{name}}">
    <span class="ast-type-icon"  title="{{this.singularLabel}}">
      <i class="fw fw-wsdl fw-lg"></i>
      </span>
    <div class="ast-name-icon">{{this.nameToChar}}</div>
</div>