{{#with assets}}
<span class="asset-show-dependency">
     <a class="btn btn-default btn-lg pull-right"
        href='{{tenantedUrl ""}}/pages/impact?path={{encodeURIComponent assets.path}}' target="_blank">
                {{t "Show Dependencies"}}
     </a>
</span>
{{/with}}
