<span>
<a class="btn btn-default btn-lg active pull-left" id="diff-view-button"
   href="{{url ""}}/assets/server/discovery?type=server&id={{assets.id}}"
   target="_blank">{{t "Discover Services"}}</a>
</span>