<div class="wrapper">
    <div class="container-fluid wr-main-content">
        <h1>Add New Encrypted Property</h1><br>
        <div class="content-div">
            <div class="row-fluid">
                <div class="span12 asset-view-container">
                    <div class="widget wlightblue">
                        <div class="widget-content">
                            <form name="valform" method="POST" onsubmit="return validate();" class="form-horizontal">

                                <div class="form-group">
                                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Property Name
                                        <span class="required">*</span></label>

                                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control" name="key" id="key" value="" required/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Password
                                        <span class="required">*</span></label>

                                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                                        <input type="password" class="form-control" name="value" id="value" value=""
                                               required/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="custom-form-label col-lg-2 col-md-2 col-sm-12 col-xs-12">Re-enter
                                        Password <span class="required">*</span></label>

                                    <div class="custom-form-right col-lg-5 col-md-8 col-sm-8 col-xs-12">
                                        <input type="password" class="form-control" name="valueVerify" id="valueVerify"
                                               value="" required/>
                                    </div>
                                </div>

                                <div id="saveButtonsURL" class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <input type="submit" value="Submit" class="btn btn-primary"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            {{#if passwords}}
            <div class="row-fluid">
            <table class="table table-striped">
                <tr>
                    <th>Property Name</th>
                    <th></th>
                </tr>
                {{#each passwords}}
                    <tr>
                        <td>
                            <label id="{{this.key}}">{{this.key}}</label>
                        </td>
                        <td>
                            <a href="javascript:populate('{{this.key}}')" class="cu-btn-inner">
                                        <span class="fw-stack">
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                            <i class="fw fw-edit fw-stack-1x"></i>
                                        </span> Edit
                            </a>
                        </td>
                    </tr>
                {{/each}}
            {{else}}
                <div class="emptyAssets-MsgDiv">
                    <p class="emptyAssets">We are sorry! we couldn't find any encrypted property value ...</p>
                </div>
            {{/if}}
        </table>
        </div>
        </div>
    </div>
</div>


