<!--<a href="#" class="cu-btn-inner add-btn">-->
    <!--<span class="fw-stack">-->
        <!--<i class="fw fw-ring fw-stack-2x"></i>-->
        <!--<i class="fw fw-add fw-stack-1x"></i>-->
    <!--</span>-->
    <!--Add Note-->
<!--</a>-->

<a href="#" class="cu-btn-inner add-btn">
    <span class="fw-stack">
        <i class="fw fw-ring fw-stack-2x"></i>
        <i class="fw fw-add fw-stack-1x"></i>
    </span>
    New
</a>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel">

        <div class="wr-panel-note collapsed" role="tab" data-toggle="collapse" data-parent="#accordion" href="#note1" aria-expanded="false" aria-controls="note1">
            <div class="wr-panel-desc-icon">
                <i class="wr-panel-desc-icon fw fw-user"></i>
            </div>
            <div class="wr-panel-msg">
                <div class="open msg-options">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fw fw-dots fw-rotate-90"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fw fw-edit fa-fw"></i> Edit</a></li>
                        <li><a href="#"><i class="fw fw-delete fa-fw"></i> Delete</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="i"></i> Resolve Thread</a></li>
                    </ul>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu dictum lectus, nec lacinia odio. Fusce eget malesuada lorem, vitae blandit justo. Morbi sed sapien vestibulum ipsum bibendum blandit. Integer magna dui, consequat sed velit ac, pulvinar feugiat nisi. Nulla pharetra viverra risus, quis mattis mauris elementum quis.</div>
                <div class="wr-panel-msg-details"><span class="wr-list-username">John Doe</span> <span class="wr-panel-time"><i class="fw fw-clock"></i> 11.25am | 12-April-2015</span></div>
                <!--<button type="button" class="btn btn-default wr-panel-msg-visibility" aria-label="Left Align">-->
                    <!--<i class="glyphicon glyphicon glyphicon-lock" aria-hidden="true"></i>-->
                <!--</button>-->
                <a href="#" class="wr-panel-msg-visibility"><i class="glyphicon glyphicon glyphicon-lock"></i></a>
            </div>
        </div>
        <div id="note1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="note1">

            <a href="#" class="more-link">More ...</a>

            <div class="wr-panel-sub-note">
                <div class="wr-panel-desc-icon">
                    <i class="wr-panel-desc-icon fw fw-user"></i>
                </div>
                <div class="wr-panel-msg">
                    <div class="open msg-options">
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fw fw-dots fw-rotate-90"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fw fw-edit fa-fw"></i> Edit</a></li>
                            <li><a href="#"><i class="fw fw-delete fa-fw"></i> Delete</a></li>
                        </ul>
                    </div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu dictum lectus, nec lacinia odio. Fusce eget malesuada lorem, vitae blandit justo.</div>
                    <div class="wr-panel-msg-details"><span class="wr-list-username">John Doe</span> <span class="wr-panel-time"><i class="fw fw-clock"></i> 11.25am | 12-April-2015</span></div>
                </div>
            </div>
            <div class="wr-panel-sub-note">
                <div class="wr-panel-desc-icon">
                    <i class="wr-panel-desc-icon fw fw-user"></i>
                </div>
                <div class="wr-panel-msg">
                    <div class="open msg-options">
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fw fw-dots fw-rotate-90"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fw fw-edit fa-fw"></i> Edit</a></li>
                            <li><a href="#"><i class="fw fw-delete fa-fw"></i> Delete</a></li>
                        </ul>
                    </div>
                    <div>Added asset weather.xml</div>
                    <div class="wr-panel-msg-details"><span class="wr-list-username">John Doe</span> <span class="wr-panel-time"> - 11.25am | 12-April-2015</span></div>
                </div>
            </div>

            <div class="well">
                <textarea placeholder="reply..."></textarea>
                <a href="#" class="cu-btn-inner">
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-message fw-stack-1x"></i>
                    </span>
                    Reply
                </a>
                <!--<a href="#" class="cu-btn-inner">-->
                    <!--<span class="fw-stack">-->
                        <!--<i class="fw fw-ring fw-stack-2x"></i>-->
                        <!--<i class="fw fw-check fw-stack-1x"></i>-->
                    <!--</span>-->
                    <!--Resolve-->
                <!--</a>-->
            </div>
        </div>




        <div class="wr-panel-note collapsed" role="tab" data-toggle="collapse" data-parent="#accordion" href="#note2" aria-expanded="false" aria-controls="note2">
            <div class="wr-panel-desc-icon">
                <i class="wr-panel-desc-icon fw fw-user"></i>
            </div>
            <div class="wr-panel-msg">
                <div class="open msg-options">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fw fw-dots fw-rotate-90"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fw fw-edit fa-fw"></i> Edit</a></li>
                        <li><a href="#"><i class="fw fw-delete fa-fw"></i> Delete</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="i"></i> Resolve Thread</a></li>
                    </ul>
                </div>
                <div>Added asset weather.xml</div>
                <div class="wr-panel-msg-details"><span class="wr-list-username">John Doe</span> <span class="wr-panel-time"><i class="fw fw-clock"></i> 11.25am | 12-April-2015</span></div>
                <a href="#" class="wr-panel-msg-visibility"><i class="glyphicon glyphicon glyphicon-lock"></i></a>
            </div>
        </div>
        <div id="note2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="note2">

            <div class="wr-panel-sub-note">
                <div class="wr-panel-desc-icon">
                    <i class="wr-panel-desc-icon fw fw-user"></i>
                </div>
                <div class="wr-panel-msg">
                    <div class="open msg-options">
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fw fw-dots fw-rotate-90"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fw fw-edit fa-fw"></i> Edit</a></li>
                            <li><a href="#"><i class="fw fw-delete fa-fw"></i> Delete</a></li>
                        </ul>
                    </div>
                    <div>Added asset weather.xml</div>
                    <div class="wr-panel-msg-details"><span class="wr-list-username">John Doe</span> <span class="wr-panel-time"><i class="fw fw-clock"></i> 11.25am | 12-April-2015</span></div>
                </div>
            </div>
            <div class="wr-panel-sub-note">
                <div class="wr-panel-desc-icon">
                    <i class="wr-panel-desc-icon fw fw-user"></i>
                </div>
                <div class="wr-panel-msg">
                    <div class="open msg-options">
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fw fw-dots fw-rotate-90"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fw fw-edit fa-fw"></i> Edit</a></li>
                            <li><a href="#"><i class="fw fw-delete fa-fw"></i> Delete</a></li>
                        </ul>
                    </div>
                    <div>Added asset weather.xml</div>
                    <div class="wr-panel-msg-details"><span class="wr-list-username">John Doe</span> <span class="wr-panel-time"><i class="fw fw-clock"></i> 11.25am | 12-April-2015</span></div>
                </div>
            </div>

            <div class="well">
                <textarea placeholder="reply..."></textarea>
                <a href="#" class="cu-btn-inner">
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-message fw-stack-1x"></i>
                    </span>
                    Reply
                </a>
                <!--<a href="#" class="cu-btn-inner">-->
                    <!--<span class="fw-stack">-->
                        <!--<i class="fw fw-ring fw-stack-2x"></i>-->
                        <!--<i class="fw fw-check fw-stack-1x"></i>-->
                    <!--</span>-->
                    <!--Resolve-->
                <!--</a>-->
            </div>
        </div>




        <div class="wr-panel-note collapsed row" role="tab" data-toggle="collapse" data-parent="#accordion" href="#note3" aria-expanded="false" aria-controls="note3">
            <div class="wr-panel-desc-icon">
                <i class="wr-panel-desc-icon fw fw-user"></i>
            </div>
            <div class="wr-panel-msg">
                <div class="open msg-options">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fw fw-dots fw-rotate-90"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fw fw-edit fa-fw"></i> Edit</a></li>
                        <li><a href="#"><i class="fw fw-delete fa-fw"></i> Delete</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="i"></i> Resolve Thread</a></li>
                    </ul>
                </div>
                <div>Added asset weather.xml</div>
                <div class="wr-panel-msg-details"><span class="wr-list-username">John Doe</span> <span class="wr-panel-time"><i class="fw fw-clock"></i> 11.25am | 12-April-2015</span></div>
                <a href="#" class="wr-panel-msg-visibility"><i class="glyphicon glyphicon glyphicon-globe"></i></a>
            </div>
        </div>
        <div id="note3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="note3">

            <div class="wr-panel-sub-note">
                <div class="wr-panel-desc-icon">
                    <i class="wr-panel-desc-icon fw fw-user"></i>
                </div>
                <div class="wr-panel-msg">
                    <div class="open msg-options">
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fw fw-dots fw-rotate-90"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fw fw-edit fa-fw"></i> Edit</a></li>
                            <li><a href="#"><i class="fw fw-delete fa-fw"></i> Delete</a></li>
                        </ul>
                    </div>
                    <div>Added asset weather.xml</div>
                    <div class="wr-panel-msg-details"><span class="wr-list-username">John Doe</span> <span class="wr-panel-time"><i class="fw fw-clock"></i> 11.25am | 12-April-2015</span></div>
                </div>
            </div>
            <div class="wr-panel-sub-note">
                <div class="wr-panel-desc-icon">
                    <i class="wr-panel-desc-icon fw fw-user"></i>
                </div>
                <div class="wr-panel-msg">
                    <div class="open msg-options">
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fw fw-dots fw-rotate-90"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fw fw-edit fa-fw"></i> Edit</a></li>
                            <li><a href="#"><i class="fw fw-delete fa-fw"></i> Delete</a></li>
                        </ul>
                    </div>
                    <div>Added asset weather.xml</div>
                    <div class="wr-panel-msg-details"><span class="wr-list-username">John Doe</span> <span class="wr-panel-time"><i class="fw fw-clock"></i> 11.25am | 12-April-2015</span></div>
                </div>
            </div>

            <div class="well">
                <textarea placeholder="reply..."></textarea>
                <a href="#" class="cu-btn-inner">
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-message fw-stack-1x"></i>
                    </span>
                    Reply
                </a>
                <!--<a href="#" class="cu-btn-inner">-->
                    <!--<span class="fw-stack">-->
                        <!--<i class="fw fw-ring fw-stack-2x"></i>-->
                        <!--<i class="fw fw-check fw-stack-1x"></i>-->
                    <!--</span>-->
                    <!--Resolve-->
                <!--</a>-->
            </div>
        </div>




        <div class="wr-panel-note collapsed resolved" role="tab" data-toggle="collapse" data-parent="#accordion" href="#note4" aria-expanded="false" aria-controls="note4">
            <div class="wr-panel-desc-icon">
                <i class="wr-panel-desc-icon fw fw-user"></i>
            </div>
            <div class="wr-panel-msg">
                <div class="open msg-options">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fw fw-dots fw-rotate-90"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="i"></i> Re-open</a></li>
                    </ul>
                </div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu dictum lectus, nec lacinia odio.</div>
                <div class="wr-panel-msg-details"><span class="wr-list-username">John Doe</span> <span class="wr-panel-time"><i class="fw fw-clock"></i> 11.25am | 12-April-2015</span></div>
                <span class="resolve-icon">
                    <span class="fw-stack-md">
                        <i class="fw fw-ok fw-stack-1-5x"></i>
                    </span>
                    Resolved
                </span>
            </div>
        </div>
        <div id="note4" class="panel-collapse collapse resolved" role="tabpanel" aria-labelledby="note4">

            <a href="#" class="more-link">More ...</a>

            <div class="wr-panel-sub-note">
                <div class="wr-panel-desc-icon">
                    <i class="wr-panel-desc-icon fw fw-user"></i>
                </div>
                <div class="wr-panel-msg">
                    <i class="fw fw-dots fw-rotate-90 msg-options"></i>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu dictum lectus, nec lacinia odio. Fusce eget malesuada lorem, vitae blandit justo.</div>
                    <div class="wr-panel-msg-details"><span class="wr-list-username">John Doe</span> <span class="wr-panel-time"><i class="fw fw-clock"></i> 11.25am | 12-April-2015</span></div>
                </div>
            </div>
            <div class="wr-panel-sub-note">
                <div class="wr-panel-desc-icon">
                    <i class="wr-panel-desc-icon fw fw-user"></i>
                </div>
                <div class="wr-panel-msg">
                    <i class="fw fw-dots fw-rotate-90 msg-options"></i>
                    <div>Added asset weather.xml</div>
                    <div class="wr-panel-msg-details"><span class="wr-list-username">John Doe</span> <span class="wr-panel-time"> - 11.25am | 12-April-2015</span></div>
                </div>
            </div>
        </div>



    </div>
</div>