<div class="clearfix wr-association">
    <div class="wr-association-icon"><i class="fw fw-padlock"></i></div>
    <div class="wr-security-status">Secured</div>
    <div class="wr-asset-desc">
        <div class="wr-resource-icon">
            <i class="fw fw-wsdl"></i>
        </div>
        <div class="wr-asset-details">
            <div class="resource-name">{{text}}</div>
            <div class="resource-type">{{type}}</div>
        </div>
    </div>
    {{!--                     <div class="wr-association-operations">
        <a href="#" class="cu-btn-inner">
        <span class="fw-stack">
        <i class="fw fw-ring fw-stack-2x"></i>
        <i class="fw fw-edit fw-stack-1x"></i>
        </span> Edit
        </a>
        <a href="#" class="cu-btn-inner">
        <span class="fw-stack">
        <i class="fw fw-ring fw-stack-2x"></i>
        <i class="fw fw-delete fw-stack-1x"></i>
        </span> Delete
        </a>
    </div> --}}
</div>