<div class="wrapper">
    <div class="container-fluid">

        <header>
            <div class="row wr-global-header">
                <div class="col-xs-8 col-sm-6 col-lg-8 app-logo">
                    <a href='{{url ""}}{{meta.landingPage}}'>
                        <img src="{{url "/themes/default/img/logo.png"}}"/>
                        <h2 class="app-title">Governance Center - Publisher</h2>
                    </a>
                </div>
            </div>
        </header>

        {{#if_equal rxt.type "application/wsdl+xml"}}
            {{>wsdl-diff-base}}
        {{else}}
            {{>default-diff-base}}
        {{/if_equal}}

        {{>footer}}
    </div>
</div>
