<div class="container-fluid">

    <div class="diff-view">
        <div class="row no-gutter app-bar">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 file-name">
                <!--<h1><i class="icon fw fw-wsdl"></i></h1>-->
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 view-panel list">
                <ul>
                    <li class="code"><a href="#"><i class="icon fw fw-xml"></i>{{t "CODE"}}</a></li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 view-panel">
                <div id="diffView" class="code-container"></div>
            </div>
        </div>
    </div>

</div>


