<h4 class="panel-title">
    <a class="list-group-item active">Diff View</a>
</h4>

<div class="panel panel-info">
    <div class="panel-heading" role="tab">
        <h4 class="panel-title">
            <a role="button">
                Default Complete Text Diff
            </a>
        </h4>
    </div>
</div>
