<div class="diff-view">
    <div class="row no-gutter">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 view-panel list">
            <div class="panel-group" id="sectionList" role="tablist" aria-multiselectable="true"
                 style="color: black; padding-top: 25pt">
            </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 view-panel">
            <div id="diffView" class="code-container"></div>
        </div>
    </div>
</div>