<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GregTestSuite">
    <parameter name="useDefaultListeners" value="false"/>
    <test name="Test-GREG-app" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.app.test"/>
        </packages>


        <!--        <classes>
                    <class name="org.wso2.carbon.registry.subscription.test.ChildParentNotificationTestCase"/>
                    <class name="org.wso2.carbon.registry.subscription.test.UpdateSubscriptionNonAdminTestCase"/>
                  &lt;!&ndash; <class name="org.wso2.carbon.registry.subscription.test.DeleteSubscriptionTestCase"/>&ndash;&gt;
                  &lt;!&ndash;<class name="org.wso2.carbon.registry.subscription.test.LeafLevelCollectionSubscriptionTestCase"/>&ndash;&gt;
                    &lt;!&ndash;  <class name="org.wso2.carbon.registry.subscription.test.LeafLevelResourceSubscriptionTestCase"/>
                     <class name="org.wso2.carbon.registry.subscription.test.ManagementConsoleModificationTestCase"/>
                     <class name="org.wso2.carbon.registry.subscription.test.NotificationEventTypeChangingTestCase"/>
                     <class name="org.wso2.carbon.registry.subscription.test.RootLevelCollectionSubscriptionTestCase"/>
                     <class name="org.wso2.carbon.registry.subscription.test.RootLevelResourceSubscriptionTestCase"/>
                     <class name="org.wso2.carbon.registry.subscription.test.RootSubscriptionTestCase"/>
                     <class name="org.wso2.carbon.registry.subscription.test.SymlinkSubscriptionTestCase"/>&ndash;&gt;
                    &lt;!&ndash;<class name="org.wso2.carbon.registry.subscription.test.UpdateNotificationEventTypeCollectionTestCase"/>
                    <class name="org.wso2.carbon.registry.subscription.test.UpdateNotificationEventTypeResourceTestCase"/>
                    <class name="org.wso2.carbon.registry.subscription.test.UpdateSubscriptionNonAdminTestCase"/>&ndash;&gt;

                </classes>-->

    </test>
    <test name="Test-GREG-Subscription" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.subscription.test"/>
        </packages>
    </test>

    <test name="Test-GREG-SCM" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.scm.test"/>
        </packages>
    </test>

    <test name="Test-GREG-UDDI" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.uddi.test"/>
        </packages>
    </test>

<!--    <test name="Test-GREG-VOLUME" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.registry.volume.test"/>
        </packages>
    </test>-->
</suite>
