body {
    background: #fff;
    width: 100%;
    overflow-x: hidden;
}

.app-logo {
  padding: 12px 20px 12px 16px;
}

.wr-app-bar {
    background: #2c313b;
}

.wr-auth a {
    color: #fff;
    text-decoration: none;
}

.wr-auth .dropdown-menu-content {
    background-color: #4F5050; 
}

.wr-global-header {
    background: #161616;
}

.wr-asset-type-switcher a.switcher-link {
    background-color: #222;
    border-right: none;
    text-decoration: none;
}

.wr-asset-type-switcher span.btn-asset {
    background-color: #007d85;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.wr-asset-type-switcher span.btn-asset:hover {
    background-color: #111;
    
}

a.cu-btn:hover, .wr-asset-type-switcher a.switcher-link:hover {
    background-color: #4D5461 !important;
}

a.ast-type-item:hover {
    background: #2c313b;
}

.title {
    border-color: #2c313b;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #2c313b;
}

.footer {
    background: #161616;
    color: #fff;
}

.footer .fw {
    font-size: 21px;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.thumbnail {
    border-radius: 0;
    border: none;
    padding: 0;
    display: inline-block;
    width: 200px;
    height: 260px;
    background: transparent;
    margin: 0 5px 10px;
    vertical-align: top;
}

.thumbnail a, .thumbnail a:focus, .thumbnail a:hover {
    display: block;
    color: #fff;
}

.thumbnail .icon { 
    text-align: center;
    font-size: 120px;
    line-height: 150px;
    height: 130px;
    background: #4f5050;
    
    width: 180px;
    height: 180px;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.thumbnail:hover > a .icon {
    color: #fff; 
    width: 190px;
    height: 190px;
}

.thumbnail .title {
    padding-right: 20px;
    margin: 20px 0;
}

.thumbnail .title h1, .thumbnail .title h2 {
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;
}

.thumbnail .title h2 {
    font-size: 13px;
    opacity: 0.8;
}

a.cu-btn {
  padding: 13px 10px !important;
}

.advance-search-btn {
    white-space: nowrap;
}

#social-button-div img {
    width: inherit;
}

.nav-tabs > li {
    margin-right: 2px;
}

.nav-tabs > li > a {
    margin-right: 0;
}

.wr-asset-type-switcher span {
    float: none;
}

.wr-asset-type-switcher {
    position: static;
}

.wr-app-bar {
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    margin: 0;
}

.wr-side-panel .panel-heading {
    padding: 0;
}

.wr-side-panel .panel {
    border-radius: 0;
    border: none;
}

/* enabled/disabled switch styles */
.wr-input-control.switch {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.wr-input-control.switch  > input[type=checkbox] {
    position: absolute;
    opacity: 0;
}
.wr-input-control.switch .helper {
    padding-left: 52px;
    position: relative;
}

.wr-input-control.switch .text {
    display: none;
    margin-left: 5px;
    font-weight: 100;
}

.wr-input-control.switch input[type="checkbox"]:checked + .helper + .text {
    display: inline-block;
}

.wr-input-control.switch .helper:before {
    position: absolute;
    left: 0;
    top: 2px;
    display: block;
    content: "";
    width: 45px;
    height: 16px;
    cursor: pointer;
    background: #a6a6a6;
    margin-left: 2px;
    z-index: 1;
    border-radius: 8px;
}
.wr-input-control.switch input[type="checkbox"] + .helper:after {
    position: absolute;
    left: 22px;
    top: -2px;
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: #237bd5;
    z-index: 2;
    border-radius: 12px;

    -webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
}
.wr-input-control.switch input[type="checkbox"]:not(:checked) + .helper:after {
    left: 2px !important;
    background: #eaeaea;
    border: 1px #eaeaea solid;
}

.wr-input-control.switch input[type="checkbox"]:not(:checked) + .helper:before {
    background: #a6a6a6 !important;
}
.wr-input-control.switch input[type="checkbox"]:disabled + .helper:after {
    background: #a6a6a6 !important;
    outline: 2px #a6a6a6 solid !important;
}
.wr-input-control.switch input[type="checkbox"]:disabled + .helper:before {
    cursor: default !important;
    background: #e0e0e0 !important;
    outline: 2px #ccc solid !important;
}