<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GregTestSuite">
    <parameter name="useDefaultListeners" value="false"/>
    <test name="Test - GREG" preserve-order="true" parallel="false">
        <packages>
	  <package name="org.wso2.carbon.registry.tck.cmis"/>

            <!--package name="org.wso2.carbon.registry.permission.test"/>
            <package name="org.wso2.carbon.registry.jira.issues.test"/>
            <package name="org.wso2.carbon.registry.resource.test"/>
            <package name="org.wso2.carbon.registry.xpath.query.test"/>
            <package name="org.wso2.carbon.registry.utfsupport.test"/-->
            <!--package name="org.wso2.carbon.registry.lifecycle.test"/> Fail
            <package name="org.wso2.carbon.registry.metadata.test.service"/> ok
            <package name="org.wso2.carbon.registry.metadata.test.api"/> um issues
            <package name="org.wso2.carbon.registry.metadata.test.custom"/> ALL OK
            <package name="org.wso2.carbon.registry.metadata.test.policy"/> test with um
            <package name="org.wso2.carbon.registry.metadata.test.schema"/> 
            <package name="org.wso2.carbon.registry.metadata.test.uri"/-->  
            <!--package name="org.wso2.carbon.registry.metadata.test.wsdl"/>  test with um
            <package name="org.wso2.carbon.registry.mediatype.test"/> 
            <package name="org.wso2.carbon.registry.governance.api.test"/>  Need to test
            <package name="org.wso2.carbon.registry.activity.search"/>
            <package name="org.wso2.carbon.registry.capp.deployment.test"/>
            <package name="org.wso2.carbon.registry.version.test"/>
            <package name="org.wso2.carbon.registry.search.metadata.test"/>
            <package name="org.wso2.carbon.registry.subscription.test"/>
            <package name="org.wso2.carbon.registry.discovery.test"/>
            <package name="org.wso2.carbon.registry.reporting.test"/-->

	    <!--package name="org.wso2.carbon.registry.rest.test.comment"/> 
            <package name="org.wso2.carbon.registry.rest.test.association"/>
	    <package name="org.wso2.carbon.registry.rest.test.metadata"/>
	    <package name="org.wso2.carbon.registry.rest.test.resource"/> 
	    <package name="org.wso2.carbon.registry.rest.test.rating"/>
     	    <package name="org.wso2.carbon.registry.rest.test.property"/>
	    <package name="org.wso2.carbon.registry.rest.test.tag"/>
            <package name="org.wso2.carbon.registry.rest.test.version"/-->
            <!--<package name="org.wso2.carbon.registry.uddi.test"/>-->

            <!--<package name="org.wso2.carbon.registry.ws.client.test.general.old"/>-->
            <!--<package name="org.wso2.carbon.registry.properties.test.old"/>-->
            <!--<package name="org.wso2.carbon.registry.smoke.test.old"/>-->
            <!--<package name="org.wso2.carbon.registry.extensions.test.old"/>-->
            <!--<package name="org.wso2.carbon.registry.metadata.test.service.old"/>-->
            <!--<package name="org.wso2.carbon.registry.metadata.test.wsdl.old"/>-->
            <!--<package name="org.wso2.carbon.registry.metadata.test.schema.old"/>-->
            <!--<package name="org.wso2.carbon.registry.search.metadata.test.old"/>-->
        </packages>


        <classes>

            <!--<class name="org.wso2.carbon.registry.jira.issues.test.SaveSearchTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.jira.issues.test.Carbon2163"/>-->
            <!--<class name="org.wso2.carbon.registry.jira.issues.test.Carbon6014"/>-->
            <!--<class name="org.wso2.carbon.registry.jira.issues.test.Carbon6025"/>-->
            <!--<class name="org.wso2.carbon.registry.reporting.test.ReportSchedulingTestCases"/>-->
            <!--<class name="org.wso2.carbon.registry.permission.test.AtomFeedPermissionTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.resource.test.RemoteRegistryTests"/>-->
            <!--<class name="org.wso2.carbon.registry.lifecycle.test.LCCheckListItemRecordTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.utfsupport.test.UTFSupportForLogsTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.jira.issues.test.Registry916"/>-->

            <!--<class name="org.wso2.carbon.registry.governance.api.test.ServicesResourceInformationManagementTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.jira.issues.test.Registry916"/>-->
            <!--<class name="org.wso2.carbon.registry.governance.api.test.MetaDataServicesTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.subscription.test.RootLevelCollectionSubscriptionTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.subscription.test.UpdateSubscriptionNonAdminTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.subscription.test.LeafLevelCollectionSubscriptionTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.resource.test.SymlinkToRootCollectionTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.jira.issues.test.Carbon11839"/>-->
            <!--<class name="org.wso2.carbon.registry.reporting.test.Carbon11686"/>-->

            <!--<class name="org.wso2.carbon.registry.utfsupport.test.UTFSupportForMetadataTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.jira.issues.test.Registry579"/>-->
            <!--<class name="org.wso2.carbon.registry.permission.test.CustomPermissionTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.activity.search.ActivitySearchSearchResultsTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.version.test.MetaDataTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.jira.issues.test.Carbon10714"/>-->
            <!--<class name="org.wso2.carbon.registry.jira.issues.test.Carbon8971"/>-->
            <!--<class name="org.wso2.carbon.registry.jira.issues.test.Registry633"/>-->
            <!--<class name="org.wso2.carbon.registry.version.test.PropertyServiceTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.metadata.test.wsdl.LargeWSDLAdditionTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.activity.search.ActivitySearchByFilterTestCase"/>-->
            <!--<class name="org.wso2.carbon.registry.server.mgt.test.ServerStartupTestCase"/>-->
        </classes>
    </test>
</suite>
