<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GREGESUITestSuite" parallel="false" >
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>


    <!-- <test name="Greg-server-mgt-Test" preserve-order="true" verbose="2">
         <packages>
             <package name="org.wso2.carbon.greg.server.mgt"/>
         </packages>
     </test>-->

    <test name="Greg-ES-UI-Test" preserve-order="true" verbose="2" >
        <classes>
            <class name="org.wso2.carbon.greg.publisher.crudui.CustomRXTCRUDTestCase"/>
            <class name="org.wso2.carbon.greg.publisher.crudui.RestServiceCRUDUITestCase"/>
            <class name="org.wso2.carbon.greg.publisher.crudui.SoapServiceCRUDUITestCase"/>
            <class name="org.wso2.carbon.greg.publisher.crudui.WsdlCRUDUrlUITestCase"/>
            <class name="org.wso2.carbon.greg.publisher.crudui.WadlCRUDUITestCase"/>
            <class name="org.wso2.carbon.greg.publisher.crudui.SchemaCRUDUITestCase"/>
            <class name="org.wso2.carbon.greg.publisher.crudui.SwaggerCRUDUITestCase"/>
            <class name="org.wso2.carbon.greg.publisher.crudui.PolicyCRUDUITestCase"/>
            <class name="org.wso2.carbon.greg.publisher.lifecycles.CustomLifecycleUITestCase"/>
            <class name="org.wso2.carbon.greg.publisher.searchui.SoapServiceSearchTestCase"/>
            <class name="org.wso2.carbon.greg.publisher.searchui.CrossAssetSearchTestCase"/>
            <class name="org.wso2.carbon.greg.publisher.AssociationsTestCase"/>
            <class name="org.wso2.carbon.greg.publisher.VersionTestCase"/>
            <class name="org.wso2.carbon.greg.server.mgt.RegistryConfiguratorTestCase"/>
            <class name="org.wso2.carbon.greg.ui.test.lifecycle.LifeCycleSmokeUITestCase"/>
            <class name="org.wso2.carbon.greg.store.test.SearchTestCase"/>
            <class name="org.wso2.carbon.greg.store.test.LoginStoreTestCase"/>
            <class name="org.wso2.carbon.greg.store.test.StoreHomePageTestCase"/>
            <class name="org.wso2.carbon.greg.store.test.AssetsListingTestCase"/>
        </classes>
    </test>

</suite>


